body {  
	padding: 0;  
	margin: 0;  
	/*background: #f2f6e9;  */
}

a{
  text-decoration: none !important;
}  

/* Slider  */
* {box-sizing: border-box;}
.mySlides {display: none;}
img {vertical-align: middle;}

/* Slideshow container */
.slideshow-container {
  position: relative;
  margin: 55px auto;
}

/* Next & previous buttons */
.prev, .next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  padding: 16px;
  margin-top: -22px;
  color: white;
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
}

/* Position the "next button" to the right */
.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover, .next:hover {
  background-color: rgba(0,0,0,0.8);
}


/* The dots/bullets/indicators */
.boxDot{
  margin-top: -7%;
  text-align: center;
}

.dot {
  height: 10px;
  width: 10px;
  margin: 0 2px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}

.active {
  color: #ffffff !important;
}

/* Fading animation */
.fade {
  -webkit-animation-name: fade;
  -webkit-animation-duration: 3s;
  animation-name: fade;
  animation-duration: 3s;
}

@-webkit-keyframes fade {
  from {opacity: .4} 
  to {opacity: 1}
}

@keyframes fade {
  from {opacity: .4} 
  to {opacity: 1}
}

/* On smaller screens */
@media only screen and (max-width: 400px) {
  .pref, .next, .text {font-size: 11px}

  .boxDot{
    margin-top: -23%;
    text-align: center;
  }

  .dot {
    height: 8px;
    width: px;
    margin: 0 2px;
    background-color: #bbb;
    border-radius: 50%;
    display: inline-block;
    transition: background-color 0.6s ease;
  }

}
/* Batas Slider */

.navbar {  
	background: #222222; 
}  

.nav-link, .navbar-brand {
	color: rgb(168, 164, 164);  
	cursor: pointer;
}  
.nav-link {  
	margin-right: 1em !important; 
}  

.nav-link:hover {  
	color: #289dfc; 
}

.navbar-collapse {  
	justify-content: flex-end; 
}

.header{
	background-image: url('images/s10.webp');
	background-size: cover;
	background-position: center;
	position: relative;
}

.container{
	margin:  auto;
	position: relative;
}

.page-footer{
	background-color: #222;
	color: #ccc;
	padding: 60px 0 30px;
}

.footer-copyright{
	color: #666;
	padding: 40px 0;
}

.image {
  position: relative;
  background: url(images/a20.png);
  height: 200px;
}

.image:before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  transition: all 0.8s;
  background-color: rgba(0,0,0,0.8);
  opacity: 0.5;
}

.image:hover:before {
  opacity: 1;
}

.menu{ 
  color: rgb(0, 0, 0);
  position: relative;
  text-decoration: none;
}

h2{
  display: inline-block;
  font-weight: bold;
  font-size: 30px;
  padding: 0 10px 15px;
  border-bottom: 4px solid rgb(3, 78, 162);
}

h6{
  display: inline-block;
  font-weight: bold;
  padding: 0 10px 15px;
  border-bottom: 4px solid rgb(3, 78, 162);
}

h3{
  color:#000;
  display: inline-block;
  font-weight: bold;
  font-size: 15px;
}

hr{
  border-bottom: 2px solid rgb(3, 78, 162);
}

.beli{
  background-color: rgb(3, 78, 162);
  border-radius: 20px;
  border-color: rgb(3, 78, 162);
  width: 100%;
}

.beli:hover{
  background-color: rgb(0, 0, 0);
}

.card-hover:hover{
  cursor: pointer;
  box-shadow:10px 10px grey;
}

.modal{
  height: 100%;
  width: 100%;
}

.card-text{
  font-size: 14px;

}

.layanan{
  height: 30pt;
  margin-left: 15px;
  margin-top: 15px;
  float: right;
}

.garis{
  border-bottom: 1px solid rgb(153, 153, 153);
}

a{
  color: #000;
}

a:hover{
  color: #0000FF;
}

.v1{
  border-left: 1px solid rgb(153, 153, 153);
  height: 450px;
  float: right;
}

.v2{
  border-left: 1px solid rgb(153, 153, 153);
  height: 450px;
  float: right;
}

.v3{
  border-left: 0px solid rgb(153, 153, 153);
  height: 0px;
  float: right;
}

@media only screen and (max-width: 400px){
  .v1 {
    border: 0px solid rgb(153, 153, 153);
    height: 0px;
    width: 0px;  
    float: bottom;
    margin-bottom: 0px;
  }

  .v2{
    border: 1px solid rgb(153, 153, 153);
    height: 1px;
    width: 325px;  
    float: bottom;
    margin-bottom: 30px;
    margin-top: 10px;
  }

  .v3{
    border: 1px solid rgb(153, 153, 153);
    height: 1px;
    width: 325px;  
    float: bottom;
    margin-bottom: 30px;
    margin-top: 10px;
  }

}


#more {display: none;}
#more1 {display: none;}